
.MuiAppBar-root {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px);
}

.MuiToolbar-root {
  min-height: 50px !important; /* Уменьшаем высоту */
  padding: 0 !important; /* Убираем внутренние отступы */
  display: flex;
  align-items: center; /* Центрируем содержимое по вертикали */
}

.logo {
  width: 200px;
  height: auto;
  transition: width 0.3s ease;
  margin: 0; /* Убираем все внешние отступы */
}

@media (max-width: 1024px) {
  .logo {
    width: 150px; /* Размер для планшетов */
  }
}

@media (max-width: 768px) {
  .logo {
    width: 120px; /* Размер для мобильных устройств */
  }
}

@media (max-width: 480px) {
  .logo {
    width: 80px; /* Размер для маленьких экранов */
  }
}

.logo_on_LG {
  width: 500px;
  height: auto;
  transition: width 0.3s ease;
  margin: 0; /* Убираем все внешние отступы */
}
@media (max-width: 1024px) {
  .logo_on_LG {
    width: 300px; /* Размер для планшетов */
  }
}

@media (max-width: 768px) {
  .logo_on_LG {
    width: 200px; /* Размер для мобильных устройств */
  }
}

@media (max-width: 480px) {
  .logo_on_LG {
    width: 200px; /* Размер для маленьких экранов */
  }
}