
.MuiAppBar-root {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px);
}

.MuiToolbar-root {
  min-height: 50px !important; 
  padding: 0 !important; 
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  height: auto;
  transition: width 0.3s ease;
  margin: 0; 
}

@media (max-width: 1024px) {
  .logo {
    width: 150px; 
  }
}

@media (max-width: 768px) {
  .logo {
    width: 120px; 
  }
}

@media (max-width: 480px) {
  .logo {
    width: 80px; 
  }
}

.logo_on_LG {
  width: 500px;
  height: auto;
  transition: width 0.3s ease;
  margin: 0;
}
@media (max-width: 1024px) {
  .logo_on_LG {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .logo_on_LG {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .logo_on_LG {
    width: 200px; 
  }
}